.page { font-size:12px; }
.table-gray {
border: solid 2px #0e0e0e;
border-radius:10px;
background-color:#dedede;
font-size:11px;
padding-left:5px;
}


.box-company {
    font-size: 13px;
    font-weight: bold;
}
.box-small-description {
    position: absolute;
    font-size: 12px;
}

.box-title {
    font-size: 36px;
    font-weight: 900;
    color: #ee901f;
    padding-top: 0;
    position: absolute;
    bottom: 0;
    width: inherit;
}
.box-round {
    padding: 8px;
    border-style: solid;
    border-color: #4d4d4d;
    border-width: 1px;
    border-radius: 5pt;
}

.box-nit {
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 0;
}
.box-red {
    font-size: 18px;
    color: hsl(11deg 86% 40%);
    font-weight: 700;
    margin-bottom: 0;
}
.box-auth {
    margin-bottom: 0;
}

.box-date {
    font-weight:600;
    padding-left: 10px;
}
.box-nit-ci {
    padding-left: 10px;
}
.font-mid {
    font-size:16px;
}

.table-round {
    border-color: #000;
    border-style: solid;
    border-width: 2pt;
    border-radius: 10pt;
    padding: 0;
}
.table-round table{
    width:100%;
}
.table-round table th {
    border-bottom-color: #000;
    border-bottom-style: solid;
    border-bottom-width: 2pt;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
}
.table-round tr {
    height: 30px;
}
.table-round td {
    padding: 10px;
    font-size: 13px;
}
.table-round > table > tr:first-child{
    border-left: none;
}
tr.bottom-fill-row {
    height: auto;
}
td.bottom-fill-cell {
    height: auto;
    border-bottom: solid 2pt #000;
}
td.bleft {
    border-left: solid 2pt #000;
}
table.invoice-detail-letter {
    height:450px;
}

.fb-centered {
margin: 0 auto;
}
h1.fb-centered{
font-weight:800;
margin: 0 auto !important;
color: #71777d;
}
.fb-th {
background-color:#f0f1f3;
border: 1px solid #dedede;
text-align:center;
height:32px;
}
.fb-td-line {
padding-top: 2px !important;
padding-bottom: 0 !important;
border: 1px solid #DEDEDE;
border-bottom:none;
border-top:none !important;
height:28px;
}
.fb-td-lastline {
padding-top: 2px !important;
padding-bottom: 0 !important;
border: 1px solid #DEDEDE;
border-bottom:none;
border-top:none !important;
height: auto !important;
}
.fb-td-footer {
border: 1px solid #DEDEDE;
height:28px;
background-color:#f0f1f3;
}


.fb-company-description {
    border-left: 2px solid #31a94c;
    padding-left: 12px;
    margin-top: 10px;
}

.fb-label-cell {
    display: block;
    padding-left: 1px;
    padding-right: 8px;
    font-weight: bold;
    background-color: #ffffff;
}
.fb-small-text {
    font-size:smaller;
}
.fb-grey-cell {
    width: 100%;
    display: inline-block;
    margin-top: 5px;
    background-color: #f2eded;
    padding-right: 5px;
    padding-left: 5px;
}

.fb-table-strip > thead > tr > th{
    background-color: #0066ff;
    border: solid 1px #ffffff;
    color: #ffffff;
    text-align: center !important;
}
.fb-table-strip > tbody > tr {
    background-color: #f6f6f6;
}
.fb-table-strip > tbody > tr > td {
    border: solid 1px #ffffff !important;
    padding-left: 5px;
    padding-right:5px;
}
.fb-table-strip > tbody > tr:nth-child(even) {
    background-color: #eeeeed;
}
td.fb-td-lastline{
    background-color: #f6f6f6;
}

.fb-table-strip > tbody > tr.footer {
    background-color: #ffffff;
    text-transform: uppercase;
    height: 28px;
}